[Unit]
After=network.target

[Service]
ExecStart=/bin/bash -c "source /usr/local/bin/boiler/boiler-config.sh; source /usr/local/bin/boiler/boiler-bot.sh"

[Install]
WantedBy=default.target
